*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,hsla(56, 95%, 59%, 0.944),#07eef6);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(93, 195, 228);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.todo-app h2{
    color: rgb(17, 18, 18);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 40px;
    height: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: rgb(185, 238, 233);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    outline:none;
    background: transparent;
    padding: 10px;
    font-weight: 700px;
    font-size: 20px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(5, 155, 165);
    color:black ;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
}

ul li{
   list-style: none;
   font-size: 20px;
   font-weight: 500;
   padding: 15px 10px 10px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image:url("images/unchecked1.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: rgb(113, 6, 6);
    text-decoration:line-through;
}

ul li.checked::before{
    background-image: url("images/checked.png");
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 32px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background:rgb(255, 140, 0);
}


